.product{
  margin-bottom: 10px; 
}
.product-image{
  width:50%;
  transform: scale(1);
  margin-bottom: 10px;
}
.product-image:hover{
	transform: scale(1.1);
}
.product p:nth-child(2){
  font-size: 18px;
}
.product span{
  font-size: 18px;
}
.main-data{
	padding: 0px 40px;
}

@media only screen and (max-width: 768px){
  .main-data{
	padding: 0px;
}	
}