.quantity{
    float:right;
}
.quantity a:first-child{
  text-decoration: none;
  color:#000;
  padding: 5px;
  border:1px solid black;
  font-size: 16px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.quantity a:nth-child(3){
  text-decoration: none;
  color:#000;
  padding: 5px;
  border:1px solid black;
  font-size: 16px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.quantity input[type="number"]{
  width: 35px;
  text-align: center;
  font-size: 18px;
  border: 1px solid black;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
